@model IEnumerable<Ecommerce.Models.Products>

@{
    ViewData["Title"] = "Product List";
}
 <style>
     th {
         text-align:center;
     }
     td{
         text-align:center;
     }
 </style>

<h1 class="text-info text-center">Product List</h1>
<p class="float-right">
    <a asp-action="Create" class="btn btn-outline-info"><i class="fas fa-plus-square"></i> Add New Product</a>
</p>
<br />
<table class="table" id="productTable">
    <thead>
        <tr class="table-info">
            <th >
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.ProductColor)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.IsAvailabe)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.ProductTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialTagId)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th >
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td >
                    <img src="~/@item.Image" width="100" height="100" style="border-radius:5px;border:1px solid grey" />
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.ProductColor)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.IsAvailabe)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.ProductTypes.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialTags.SpecialTag)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td >
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#productTable').DataTable();
        });
    </script>

    @if (TempData["save"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["save"]');
            });
    </script>
}
@if (TempData["update"] != null)
{
    <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["update"]');
            });
    </script>
}
@if (TempData["delete"] != null)
{
    <script type="text/javascript">
            $(function () {
                alertify.error('@TempData["delete"]');
            });
    </script>
}

}